#{@admin.name} #{@admin.surname} vous invite à rejoindre ca collocation.
%br
Pour le rejoindre il vous suffit de créer un compte en #{ link_to "cliquant ici.", new_user_registration_url(:email => @email)}
