// Place all the styles related to the Collocs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#google-map{
  min-height: 250px;
  margin: 0px;
  padding: 0px;
}

#list-collocs > #google-map{
  height:300px;
  margin-bottom:2rem;
}

.white-text{
  color:white;
}
.white-text:visited{
  color:white;
}
