// Place all the styles related to the Collocs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#google-map{
  min-height: 250px;
  margin: 0px;
  padding: 0px;
}

#list-collocs > #google-map{
  height:300px;
  margin-bottom:2rem;
}

.white-text{
  color:white;
}
.white-text:visited{
  color:white;
}

.pagination_container{
  text-align:center;
}

ul.pagination{
  display:inline-block !important;
}

.pricing-table{
    background-color:white;
}

.carousel{
  text-align:center;
}

.carousel > ul{
  display : inline-block;
}

.infos{
  margin-top:1rem;
}

.gal-panel{
  padding-bottom:0 !important;
}

.but-margins-reduced{
  margin-top:20px !important;
  padding:10px !important;
}
