// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.titre{
  text-align:center;
  color: white;
  background-color: #303030;
  padding-bottom: 20px;
  margin-top: 0px;
  padding-top: 20px;
}

.titre > h1{
  height:50px;
}

