%h1 Modifier la colloc

- @modification=true
.panel
  %h2 Infomations
  = render 'form'

.panel
  %h2 Ajouter une photo
  = form_for @colloc, html: { :class => "dropzone",multipart: true }, :url => url_for(:controller => 'collocs', :action => 'addpic') do |f|
    =f.file_field :files, multiple: true
    =f.submit

= link_to 'Retour', @colloc
