%h1 Modifier la colloc

- @modification=true
.panel
  %h2 Infomations
  = render 'form'

.panel
  %h2 Ajouter une photo
  %form#ajoutPhoto.dropzone{:action => colloc_pic_add_path(@colloc), :enctype => "multipart/form-data"}
    %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
    .fallback
      %input{:multiple => "", :name => "media", :type => "file"}
.panel
  %h2 Supprimer une photo
  .small-block-grid-2.medium-block-grid-4
    - @colloc.pictures.each do | picture |
      %li.delpic{:id => picture.id}
        %img.th{:src => picture.thumb}
        .button.alert.expand.button-delete{"picture-delete-url" => colloc_pic_del_path(@colloc,picture.id)} Supprimer

= link_to 'Retour', @colloc
