%h1
  test

%ul.example-orbit{"data-orbit" => ""}
  %li
    .row
      .medium-4.columns
        %br
        SALUT
      .medium-8.columns 
        %img{:alt => "slide 3", :src => "/map.png"}
    .orbit-caption
      Test1
  %li.active
    %ul.small-block-grid-2
      %li
        %br
        CC
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et nisl a arcu maximus convallis in blandit sapien. Aliquam auctor nisl vel pharetra sollicitudin. Duis finibus ornare orci, id viverra neque hendrerit vel. Morbi ornare ipsum quis mattis consectetur.
      %li
        %img{:alt => "slide 3", :src => "/map.png"}
    .orbit-caption
      Test2
  %li
    .row.picture-container
      %img.picture-adapt-width{:alt => "slide 3", :src => "/map.png"}
    .orbit-caption.show-for-medium-up
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et nisl a arcu maximus convallis in blandit sapien. Aliquam auctor nisl vel pharetra sollicitudin. Duis finibus ornare orci, id viverra neque hendrerit vel. Morbi ornare ipsum quis mattis consectetur.
%h1 cc
.row.medium-uncollapse.large-collapse
  .small-6.columns
    Removes gutter at large media query
  .small-6.columns
    %img{:alt => "slide 3", :src => "/map.png"}
%br
%br
%br
%ul.small-block-grid-2
  %li
    Salut
  %li
    %img{:alt => "slide 3", :src => "/map.png"}
=link_to 'out', destroy_user_session_path, method: :delete
