!!!
%html
  %head
    %title ENSIIE Colloc
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        %li.name
          %h1.header
            %img{:href => "#", :src => "http://i.imgur.com/nFrbvCS.png", :height => "55px", :width => "55px"}
            ENSIIE'Colloc
            //%a{:href => "#"} ENSIIE'Colloc
        / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span Menu
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          %li.active
            %a{:href => "#"} Home

          %li
            %a{:href => "#"} Map
          %li
            %a{:href => "#"} Collocs
          %li
            %a{:href => "#"} Info        
            %ul.dropdown
              %li
                %a{:href => "#"} First link in dropdown
              %li.active
                %a{:href => "#"} Active link in dropdown
        / Left Nav Section
        %ul.left
          %li
            %a{:href => "#"} Log In
    %br
    %br
    = yield
    %section.tldr
      %footer.footer
        .container
          %p.text-muted © Site créé par Ara~Sudaar