// Place all the styles related to the Collocs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require jquery.nouislider
//= require select2



#google-map{
  min-height: 250px;
  margin: 0px;
  padding: 0px;
}

#google-map.high{
  min-height:300px;
}

#list-collocs > #google-map{
  height:300px;
  margin-bottom:2rem;
}

.white-text{
  color:white;
}
.white-text:visited{
  color:white;
}

.pagination_container{
  text-align:center;
}

ul.pagination{
  display:inline-block !important;
}

.pricing-table{
    background-color:white;
}

.carousel{
  text-align:center;
}

.carousel > ul{
  display : inline-block;
}

.infos{
  margin-top:1rem;
}

.gal-panel{
  padding-bottom:0 !important;
}

.but-margins-reduced{
  margin-top:20px !important;
  padding:10px !important;
}

.cache-picture-cont{
  padding-left:10px;
  padding-right:7px;
}
.cache-picture{
  color:white;
  text-align:center;
  width:100%;
  height:100%;
  background-color : rgba(0,0,0,0.5);
}

.th{
  min-width:100%;
}
.sliders{
  padding-left : 5px;
}

.label-slider{
  margin-top:5px;
  text-align:center;
  margin-bottom:10px;
}

.no-margin-bottom{
  margin-bottom:0px;
}
.panel-center{
  padding-left:5px;
  padding-right:5px;
}
